.header {
    justify-content: flex-start;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 50px;
    background-color: #f0d5a8;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.avatar {
    justify-content: center;
    align-items: center;
}